/*************************************
 * Backgrounds
 *************************************/

html {
    image-rendering: pixelated;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
}

body .white-void {
    background-color: white;
}

#map {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

/*************************************
 * Interaction
 *************************************/
.interactable:hover {
    opacity: 75;
}

.statue { /* For something that can be pushed */ }

/*************************************
 * Tilemap
 *************************************/
.tile {
    width:  7.1vw;
    height: 7.1vw;
    background-repeat: no-repeat;
    background-size: cover;
}


/*************************************
 * Tile types
 *************************************/
.floor { /* basic tile */ 
    background-image: url("sprites/tiles/spr_floor_0.png");
}

.empty {}

.empty-edge {
    background-image: url("sprites/tiles/spr_floor_1.png");
}

.stairs { /* special click to get to next floor */ 
    background-image: url("sprites/tiles/spr_stairs_0.png");
}

.glass { /* special click to destroy */ }

.switch { /* ??? might need rework for places without eggs */ }

.locked { /* cant exit. */ }

.bomb { /* special click to make explo */ }

.explo { /* special click to destroy */ }

.copy { /* summon a shade. as a treat. */ }

.death { /* self explanatory */ }

.ui { /* UI tiles with no effect */ }

.number { /* EX: locust number, second half of brane number */ }

.b { /* go to carcass if picked up */ }

