/*************************************
 * Text
 *************************************/
@font-face {
    font-family: "alkhemikalmedium";
    src: url("fonts/alkhemikal-webfont.woff2") format("woff2"),
         url("fonts/alkhemikal-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

div #textbox {
    /* size shall be handled by tilemap */
    background-image: url("sprites/vs_textbox.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
}

div #abovebox {
    /* size shall be handled by tilemap */
    background-image: url("sprites/vs_textbox2.png");
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
}

#intro {
    overflow: scroll;
    width: 100vw;
    height: 100vh;
}

div .instruction {
    margin: 0px;
}


/*************************************
 * Backgrounds
 *************************************/

html {
    image-rendering: pixelated;
    font-family: "alkhemikalmedium";
    font-smooth: never;
    -webkit-font-smoothing: none;
}

body {
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
}

body .white-void {
    color: black;
    background-color: white;
}

#map {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.header {
    height: 5vh;
}

.footer {
    height: 5vh;
}


/*************************************
 * Interaction
 *************************************/
.no-interact {}

.atoner { background-image: url("sprites/tiles/spr_atoner_floor.png"); }


/*************************************
 * Tilemap
 *************************************/
.tile {
    background-repeat: no-repeat;
    background-size: cover;
}


/*************************************
 * Tile types
 *************************************/
.floor { background-image: url("sprites/tiles/spr_floor_0.png"); }

.empty {}

.empty-edge { background-image: url("sprites/tiles/spr_floor_1.png"); }

.stairs { background-image: url("sprites/tiles/spr_stairs_0.png"); }

.glass { /* special click to destroy */ }

.switch { /* ??? might need rework for places without eggs */ }

.locked { /* cant exit. */ }

.bomb { /* special click to make explo */ }

.explo { /* special click to destroy */ }

.copy { background-image: url("sprites/tiles/spr_copy.png"); }

.shade { background-image: url("sprites/entities/enemies/spr_copy_shade.gif"); }

.death { /* self explanatory */ }


/*************************************
 * Tree
 *************************************/
.tree-1 { background-image: url("sprites/tiles/tree/spr_tree_0.png"); }

.tree-2 { background-image: url("sprites/tiles/tree/spr_tree_1.png"); }

.tree-3 { background-image: url("sprites/tiles/tree/spr_tree_2.png"); }

.tree-4 { background-image: url("sprites/tiles/tree/spr_tree_3.png"); }

.tree-5 { background-image: url("sprites/tiles/tree/spr_tree_4.png"); }

.tree-6 { background-image: url("sprites/tiles/tree/spr_tree_5.png"); }

.tree-7 { background-image: url("sprites/tiles/tree/spr_tree_6.png"); }

.tree-8 { background-image: url("sprites/tiles/tree/spr_tree_7.png"); }

.tree-9 { background-image: url("sprites/tiles/tree/spr_tree_8.png"); }

.tree-10 { background-image: url("sprites/tiles/tree/spr_tree_9.png"); }

.tree-11 { background-image: url("sprites/tiles/tree/spr_tree_10.png"); }

.tree-12 { background-image: url("sprites/tiles/tree/spr_tree_11.png"); }

.used-tree-1 { background-image: url("sprites/tiles/tree/spr_tree_used_0.png"); }

.used-tree-2 { background-image: url("sprites/tiles/tree/spr_tree_used_1.png"); }

.used-tree-3 { background-image: url("sprites/tiles/tree/spr_tree_used_2.png"); }

.used-tree-4 { background-image: url("sprites/tiles/tree/spr_tree_used_3.png"); }

.used-tree-5 { background-image: url("sprites/tiles/tree/spr_tree_used_4.png"); }

.used-tree-6 { background-image: url("sprites/tiles/tree/spr_tree_used_5.png"); }

.used-tree-7 { background-image: url("sprites/tiles/tree/spr_tree_used_6.png"); }

.used-tree-8 { background-image: url("sprites/tiles/tree/spr_tree_used_7.png"); }

.used-tree-9 { background-image: url("sprites/tiles/tree/spr_tree_used_8.png"); }

.used-tree-10 { background-image: url("sprites/tiles/tree/spr_tree_used_9.png"); }

.used-tree-11 { background-image: url("sprites/tiles/tree/spr_tree_used_10.png"); }

.used-tree-12 { background-image: url("sprites/tiles/tree/spr_tree_used_11.png"); }


/*************************************
 * Earth
 *************************************/
.earth-1 { background-image: url("sprites/tiles/earth/spr_earth_0.png"); }

.earth-2 { background-image: url("sprites/tiles/earth/spr_earth_1.png"); }

.earth-3 { background-image: url("sprites/tiles/earth/spr_earth_2.png"); }

.earth-4 { background-image: url("sprites/tiles/earth/spr_earth_3.png"); }

.earth-5 { background-image: url("sprites/tiles/earth/spr_earth_4.png"); }

.earth-6 { background-image: url("sprites/tiles/earth/spr_earth_5.png"); }

.earth-7 { background-image: url("sprites/tiles/earth/spr_earth_6.png"); }

.earth-8 { background-image: url("sprites/tiles/earth/spr_earth_7.png"); }

.earth-9 { background-image: url("sprites/tiles/earth/spr_earth_8.png"); }

.earth-10 { background-image: url("sprites/tiles/earth/spr_earth_9.png"); }

.earth-11 { background-image: url("sprites/tiles/earth/spr_earth_10.png"); }

.earth-12 { background-image: url("sprites/tiles/earth/spr_earth_11.png"); }

.earth-13 { background-image: url("sprites/tiles/earth/spr_earth_12.png"); }

.earth-14 { background-image: url("sprites/tiles/earth/spr_earth_13.png"); }

.earth-15 { background-image: url("sprites/tiles/earth/spr_earth_14.png"); }

.earth-16 { background-image: url("sprites/tiles/earth/spr_earth_15.png"); }

.earth-17 { background-image: url("sprites/tiles/earth/spr_earth_16.png"); }

.earth-18 { background-image: url("sprites/tiles/earth/spr_earth_17.png"); }

.earth-19 { background-image: url("sprites/tiles/earth/spr_earth_18.png"); }

.earth-20 { background-image: url("sprites/tiles/earth/spr_earth_19.png"); }


/*************************************
 * walls...
 *************************************/
.u-wall { background-image: url("sprites/tiles/walls/spr_up_wall_0.png"); }

.u-edge { background-image: url("sprites/tiles/walls/spr_up_edge_0.png"); }

.ul-corner { background-image: url("sprites/tiles/walls/spr_up_left_corner_0.png"); }

.lu-corner { background-image: url("sprites/tiles/walls/spr_left_up_corner_0.png"); }

.ul-in-edge { background-image: url("sprites/tiles/walls/spr_up_left_in_edge_0.png"); }

.ul-out-edge { background-image: url("sprites/tiles/walls/spr_up_left_out_edge_0.png"); }

.l-wall { background-image: url("sprites/tiles/walls/spr_left_wall_0.png"); }

.l-edge { background-image: url("sprites/tiles/walls/spr_left_edge_0.png"); }

.dl-corner { background-image: url("sprites/tiles/walls/spr_down_left_corner_0.png"); }

.ld-corner { background-image: url("sprites/tiles/walls/spr_left_down_corner_0.png"); }

.dl-in-edge { background-image: url("sprites/tiles/walls/spr_down_left_in_edge_0.png"); }

.dl-out-edge { background-image: url("sprites/tiles/walls/spr_down_left_out_edge_0.png"); }

.d-wall { background-image: url("sprites/tiles/walls/spr_down_wall_0.png"); }

.d-edge { background-image: url("sprites/tiles/walls/spr_down_edge_0.png"); }

.dr-corner { background-image: url("sprites/tiles/walls/spr_down_right_corner_0.png"); }

.rd-corner { background-image: url("sprites/tiles/walls/spr_right_down_corner_0.png"); }

.dr-in-edge { background-image: url("sprites/tiles/walls/spr_down_right_in_edge_0.png"); }

.dr-out-edge { background-image: url("sprites/tiles/walls/spr_down_right_out_edge_0.png"); }

.r-wall { background-image: url("sprites/tiles/walls/spr_right_wall_0.png"); }

.r-edge { background-image: url("sprites/tiles/walls/spr_right_edge_0.png"); }

.ur-corner { background-image: url("sprites/tiles/walls/spr_up_right_corner_0.png"); }

.ru-corner { background-image: url("sprites/tiles/walls/spr_right_up_corner_0.png"); }

.ur-in-edge { background-image: url("sprites/tiles/walls/spr_up_right_in_edge_0.png"); }

.ur-out-edge { background-image: url("sprites/tiles/walls/spr_up_right_out_edge_0.png"); }

/*************************************
 * UI tiles
 *************************************/

.ui { background-color: white; }

.void-1 { background-image: url("sprites/ui/spr_vo_0.png"); }

.void-2 { background-image: url("sprites/ui/spr_id_0.png"); }

.b0 { background-image: url("sprites/ui/spr_b0_0.png"); }

.b1 { background-image: url("sprites/ui/spr_b1.png"); }

.b2 { background-image: url("sprites/ui/spr_b2.png"); }

.bhuh { background-image: url("sprites/ui/spr_bhuh.png"); }

.n28 { background-image: url("sprites/ui/spr_28.png"); }

.n56 { background-image: url("sprites/ui/spr_56.png"); }

.n84 { background-image: url("sprites/ui/spr_84.png"); }

.n12 { background-image: url("sprites/ui/spr_12.png"); }

.n40 { background-image: url("sprites/ui/spr_40.png"); }

.n68 { background-image: url("sprites/ui/spr_68.png"); }

.n96 { background-image: url("sprites/ui/spr_96.png"); }

.n24 { background-image: url("sprites/ui/spr_24.png"); }

.n54 { background-image: url("sprites/ui/spr_54.png"); }

.huh { background-image: url("sprites/ui/spr_huuh.png"); }

.void-rod-empty { 
    background-image: url(sprites/ui/spr_voidrod_icon_1.png); 
    background-color: white;
}

.void-rod-floor { 
    background-image: url("sprites/ui/spr_voidrod_icon_2.png"); 
    background-color: white;
}

.void-rod-glass { 
    background-image: url("sprites/ui/spr_voidrod_icon_3.png"); 
    background-color: white;
}

.void-rod-switch { 
    background-image: url("sprites/ui/spr_voidrod_icon_4.png"); 
    background-color: white;
}

.void-rod-stairs { 
    background-image: url("sprites/ui/spr_voidrod_icon_5.png"); 
    background-color: white;
}

.void-rod-copy { 
    background-image: url("sprites/ui/spr_voidrod_icon_6.png"); 
    background-color: white;
}

.void-rod-bomb { 
    background-image: url("sprites/ui/spr_voidrod_icon_7.png"); 
    background-color: white;
}

.void-rod-explo { 
    background-image: url("sprites/ui/spr_voidrod_icon_8.png"); 
    background-color: white;
}

.void-rod-ui { 
    background-image: url("sprites/ui/spr_voidrod_icon_9.png"); 
    background-color: white;
}

.void-rod-death { 
    background-image: url("sprites/ui/spr_voidrod_icon_10.png"); 
    background-color: white;
}

/*
 *
 */
.block {
    display: flex; /* required */
    flex-flow: row nowrap; /* required */
}
.block .background,
.block .foreground {
    box-sizing: border-box; /* required */
    width: 100%; /* required */
    flex: none; /* required */
}
.block .background {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}
.block .foreground {
    margin-left: -100%; /* required */
}
